.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:170px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:10px solid black;
}
input{
    width:500px;
    border:none;
    border-bottom: 1px solid black;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
textarea{
    width: 500px;
    border: none;
    border-bottom: 1px solid black;
}